*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Oswold',sans-serif;
}
.container{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),  url("th1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction:column ;
    overflow: hidden;
}
nav{
    padding: 2% 6%;
    display: flex;
    justify-content: space-between;
}
.nav-link{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    text-transform: uppercase;
    font: size 40px;;
}
.logo span{
    color: #ffa500;
}
nav ul{
    display: flex;
    list-style: none;
    margin: auto;
}
nav ul li{
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.5s;
   
}
.social a{
    margin: 0 10px;
    
}
nav ul li a:hover{
    color: #ffa500;
}
nav ul li a::after{
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: #ffa500;
    transition: 0.8s;
}
nav ul li a:hover::after {
width: 100%;
}
.social a i{
    transition: 0.5s;
}
.social a i:hover{
    color: #ffa500;
}
.social a:first-child,.social a:last-child{
    display: none;
}
.main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main h2{
    font-size: 72px;
    text-transform: uppercase;
}
.main h1{
    font-size: 120px;
    color: #ffa500;
}
.button{
    text-decoration: none;
    border: 1px solid #ffa500;
    padding: 15px 35px;
    margin-top:  45px;
    transition: 0.5s;
}
.button:hover{
    background-color: #ffa500;

}
@media (max-midth:900px){
    .social{
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 40px;
        background-color: #000;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #444; ;
    }
    .main h2{
        font-size: 60px;
    }
    .main h1{
    font-size: 80px;
    }
}
@media (max-width:750){
    .nav-link{
        position: absolute;

    }
    .nav-link ul{
        position: fixed;
        top : 0;
        right: 40px;
        width: 250px;
        height: 100vh;
        background-color: #000;
        
    }
}